/*

=TOC
GENERAL
HEADER
STRUCTURE
ELEMENT
FOOTER

-----------------------------------------------------*/

/*
=GENERAL
*/


body {
  color: #333;
  background: #666 url(../images/bg.png) repeat-y scroll 50% 0; }

div.container {
  background-color: #EEE;
  border: 0px solid #666;
  width: 980px;
  margin: 0 auto; }  

#feedback-tab {
  background: #222 url(../images/feedback-tab.png);
  border: 0px solid #CCC;
  color: #FFFFFF;
  cursor: pointer;
  height: 102px;
  left: 0;
  margin-left: -7px;
  overflow: hidden;
  position: fixed;
  text-indent: -100000px;
  top: 150px;
  width: 42px;
  z-index: 100000; }

h1, h2, h3, h4 {
  font-family: 'Georgia', 'Times New Roman', serif; }

a:link {
  color: #C00;
  text-decoration: none; }
a:visited {
  color: #999;
  text-decoration: none; }
a:focus, 
a:hover, 
a:active {
  color: #C00;
  text-decoration: underline; }
  
dl.node-type-list {
  background-color: #FFF;
  padding: 20px; }
  dl.node-type-list dt {
    padding: 10px 0 5px 0; }
dl.admin-list dt {
  padding: 10px 0 5px 0; }
dl.node-type-list dt {
  background: transparent url(../images/22.png) no-repeat scroll 0 50%;
  padding: 5px 0 5px 15px; }
dl.admin-list dt {
  background: transparent url(../images/gear-10.png) no-repeat scroll 0 50%;
  padding: 5px 0 5px 15px; }
dl.node-type-list dd, 
dl.admin-list dd {
  margin-bottom: 20px; }

div.admin-panel h3 {
  background: transparent url(../images/gear-16.png) no-repeat scroll 0 50%;
  padding-left: 25px; }
div.node-links {
  border-top: 5px solid #CCC;
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 10px 0; }
  div.node-links ul.links {
    margin: 0;
    padding: 0; }
div.views-row-last div.node-links {
  margin-bottom: 0;
}

#block-menu-primary-links div.edit a {
  padding: 2px;
  font-size: 9px; }

div.block {
  border: 0;
  margin-bottom: 20px;
  padding: 0;}

/*
=HEADER
*/

#header {
  margin: 0;
  width: 980px; }

#logo {
  margin-left: 20px; }
  
  #logo h1 {
    background: transparent url('../images/logo.png') no-repeat;
    height: 70px;
    margin: 0;
    text-indent: -200000px;
    width: 540px; }

#header-image {
  background: url(../images/header-image.jpg) no-repeat;
  clear: left;
  height: 246px;
  width: 980px; }

#center { 
  margin: 20px 20px 0 20px; }

  #center h2 {
    line-height: 1em;
    margin-bottom: 10px; }

div.tabs {
  margin: 0 0 20px 0;
  padding: 0; }

ul.primary, 
ul.secondary {
  border-bottom: 0px solid #BBBBBB;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 10px 0; }
ul.primary li {
  border: 0;
  margin: 0; }
  ul.primary li a, 
  ul.primary li.active a {
    border: 0;
    margin: 0; }
ul.secondary li {
  border: 0;
  margin: 0; }
  ul.secondary li a, 
  ul.secondary li.active a {
    border: 0;
    margin: 0; }
ul.primary li.active a, 
ul.secondary li.active a {
  background-color: #666;
  color: #CCC; }
ul.primary li a:hover, 
ul.secondary li a:hover {
  background-color: #FFF; }
ul.primary li a, 
ul.secondary li a {
  background-color: #F7F7F7;
  margin: 0 0px 0 0;
  padding: 5px 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }

span.tags ul {
  margin-bottom: 20px;
}

span.tags ul li a {
  padding: 3px 10px;
  background-color: #F7F7F7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-style: italic; }

#user-info {
  color: #999;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px; }

#subnav {
  padding: 10px 0;
  text-align: right; }
  #subnav li a.active {
    color: #CC0000; }

#feedbox {
  color: #FFF;
  font-size: 0.8em;
  margin: 10px 20px 10px 0; }

#top-bar {
  background-color: #1d1d1d;
  width: 980px; }

#logo-title {
  background: url(../images/header-inner-bg.png) repeat-x;
  border-bottom: 1px solid #999;
  border-top: 1px solid #FFF;
  width: 980px; }

#breadcrumb {
  background-color: #1D1D1D;
  color: #FFF;
  text-transform: uppercase;
  width: 980px; }
  #breadcrumb div.breadcrumb {
    margin: 0;
    padding: 20px; }

#featured {
  border-bottom: 1px solid #FFF;
  color: #FFF;
  width: 980px; }
  #featured div.block-title-wrapper {
    border-bottom: 1px solid #333;
    margin-bottom: 20px; }
  #featured h2 {
    color: #CCC;
    padding-bottom: 20px; }
    #featured h2 a {
      color: #999; }
      #featured h2 a:hover {
        color: #FFF; }
  #featured div.node {
    border: 0;
    margin-bottom: 0;
    padding: 0; }
  #featured p {
    margin-bottom: 0; }
  #featured div.block {
    margin: 0; }
  #featured img {
    background-color: #111;
    float: left;
    margin-right: 20px;
    padding: 20px;
    width: 580px; }
  #featured div.content img {
    margin-bottom: 0; }

#views_slideshow_main_1 {
  background-color: #1D1D1D;
  padding: 20px; }

#views_slideshow_breakout_teasers_1 {
  background-color: #333;
  border-bottom: 1px solid #DDD;
  float: left;
  padding: 0; }

.views_slideshow_breakout_teasers .views_slideshow_div_breakout_teaser {
  float: left;
  width: 326px; }
.views_slideshow_breakout_teasers #views_slideshow_div_breakout_teaser_1_1 {
  width: 328px; }
.views_slideshow_breakout_teasers a {
  border-bottom: 5px solid transparent;
  border-left: 1px solid #555;
  border-right: 1px solid #222;
  color: #CCC;
  display: block;
  height: 36px;
  padding: 5px 20px;
  text-align: center; }

#views_slideshow_div_breakout_teaser_1_0 a {
  border-left: 0; }

#views_slideshow_div_breakout_teaser_1_2 a {
  border-right: 0; }

.views_slideshow_active_teaser a:visited, 
.views_slideshow_breakout_teasers a:visited {
  color: #CCC; }

.views_slideshow_active_teaser a, 
.views_slideshow_breakout_teasers a:hover {
  background: #1D1D1D url(../images/feat-tab-a.png) repeat-x scroll;
  border-bottom: 5px solid #111;
  border-left: 1px solid #333;
  border-right: 1px solid #000;
  color: #FFF; }

#views_slideshow_main_1 .views-field-title, 
#views_slideshow_main_1 .views-field-teaser {
  float: left;
  width: 300px; }
#views_slideshow_main_1 .views-field-title {
  margin: 0; }
  #views_slideshow_main_1 .views-field-title h3 {
    line-height: 1.5em; }
    #views_slideshow_main_1 .views-field-title h3 a {
      color: #FFF;
      text-decoration: none; }
      #views_slideshow_main_1 .views-field-title h3 a:hover {
        text-decoration: underline; }

div.views_slideshow_teaser_section p {
  color: #CCC;
  text-align: left; }
div.content div.field-items img, 
div.content p img {
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  margin: 0 20px 20px 0;
  padding: 4px; }
div.row-thumb img {
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  margin: 0 20px 20px 0;
  padding: 4px; }
div.content p img {
  margin-top: 20px; }
  div.content p img left {
    margin-left: 0; }
  div.content p img right {
    margin-right: 0; }
div.image-left, 
div.image-right, 
div.standalone-image {
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  margin: 20px;
  padding: 9px; }
div.image-left img, 
div.image-right img, 
div.standalone-image img {
  margin: 0; }
div.image-left {
  float: left;
  margin-left: 0; }
div.image-right {
  float: right;
  margin-right: 0; }

.caption {
  margin-top: 10px;
  font-family: 'Georgia', 'Times New Roman';
  text-align: center;
  font-size: .8em;
  font-style: italic; }

div.content div.field-items img {
  float: left; }
div.content div.field-items a:hover img {
  background-color: #CCC; }
div.content p a:hover img {
  background-color: #CCC; }
div.row-thumb a:hover img {
  background-color: #CCC; }
div.attachment-before div.view-id-perusahaan div.view-content {
  font-family: 'Georgia', 'Times New Roman';
  padding: 20px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #CCC; }

/*
#node-form, 
#contact-mail-user {
  background-color: #FFF;
  padding: 20px; }
*/

#content-content {
  border-top: 5px solid #CCCCCC;
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 20px; 
  overflow: hidden;
  }
.page-galeri #content-content, 
.page-karikatur #content-content {
  padding-left: 0;
} 

div.view-content div.views-summary-unformatted,
div.view-content div.views-row {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 20px; }
  
div.view-content div.views-row-last {
  border: 0;
  margin-bottom: 0; }
div.row-teaser div.read-more {
  text-align:right;
  margin-bottom: 20px;}
  div.read-more a {
    padding: 3px 10px;
    background-color: #EEEEEE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-style: italic; }

div.view-content div.views-row-last div.read-more {
  margin-bottom: 0; }

div.block div.view-content div.views-row,
div.block div.view-content div.views-summary-unformatted {
/*#right div.block div.view-content div.views-summary-unformatted,*/
/*#right-middle div.block div.view-content div.views-summary-unformatted,*/
/*#right div.block div.view-content div.views-row,*/
/*#right-middle div.block div.view-content div.views-row {*/
  padding: 5px;
  margin: 0;
}

#block-views-belanja-block_1 div.view-content div.views-row,
#block-views-artikel-block_5 div.view-content div.views-row,
#block-views-perusahaan-block_1 div.view-content div.views-row {
  padding: 0;
  margin-top: 20px;
}

div.block div.row-teaser div.read-more {
  text-align:right;
  margin-bottom: 0;}  
  
div.content div.field-type-text {
  margin: 20px 0;
}

div.content .field-label {
  font-family: 'Georgia','Times New Roman',serif;
  padding-bottom: 2px;
  border-bottom: 1px solid #EEE;
  margin-bottom: 5px;
}

.sdp-pengirim {
  font-style: italic;
}
    
.fivestar-form-item {
  padding: 20px 0;
}

.view-footer {
  margin: 20px 0 0;
  background-color: #F6F6F6;
  padding: 20px;
  float: left;
}

.page-karikatur .view-footer,
.page-galeri .view-footer {
  margin-left: 20px;
  margin-top: 0;
}

#right {
  margin-top: 20px; }
  #right div.block {
    background-color: #FFF; }  
    #right div.block #masquerade-block-1 {
      padding: 20px; }
    #right div.block div.views-field-title {
      margin: 10px 20px;
      padding: 0;
      font-family: 'Georgia', 'Times New Roman';
      font-size: 1.2em; }
    #right div.block div.views-field-teaser {
      margin: 0;
      padding: 0 20px 20px 20px; }
      #right div.block div.views-field-teaser p {
        margin: 0; }
        
#right div.block div.content,
#right-middle div.block div.content,
#content-middle-one div.block div.content,
#content-middle-two div.block div.content {
  padding: 0 20px 20px; }
  
#right div.block-ad div.content,
#right-middle div.block-ad div.content {
  padding: 0;
}

#right #block-block-7 div.content {
  background-color: #1D1D1D;
  padding: 20px;
  text-align: center;
}
        
#block-block-7 div.content a.submit-content {
  color: #CCC;
  display: block;
  padding: 5px 10px;
  font-size: 1.2em;
  border: 2px solid #666;
  text-transform: capitalize;
  background-color: #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
        
#right ul.menu, 
#right div.item-list ul {
  margin: 0;
  padding: 0; }
  
#right ul.menu a, 
#right div.item-list ul a {
  text-decoration: none; }
  
#right ul.menu a:hover, 
#right div.item-list ul a:hover {
  background-color: #F6F6F6; }

#right ul.menu a.active {
  color: #333;
  font-weight: bold;
  text-decoration: none; }
#right ul.menu li {
  list-style-image: none;
  list-style-type: none; }
#right div.item-list ul li {
  list-style-image: none;
  list-style-type: none; }
#right ul.menu li a, 
#right ul.menu li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 10px; }
#right div.item-list ul li a, 
#right div.item-list ul li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 10px; }
#right ul.menu li li a, 
#right ul.menu li li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 30px; }
#right ul.menu li li li a, 
#right ul.menu li li li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 50px; }
#right ul.menu li li li li a, 
#right ul.menu li li li li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 70px; }
#right ul.menu li li li li li a, 
#right ul.menu li li li li li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 90px; }
#right ul.menu li ul {
  margin: 0; }
#right div.item-list ul li {
  position: relative; }
  #right div.item-list ul li div.views-field-timestamp {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 10px;
    text-align: right; }

#right-middle div.block,
#content-middle-one div.block, 
#content-middle-two div.block {
  background-color: #FFF;
  overflow: hidden;
  width: 100%; 
  /* float: left;*/ }
  #right-middle div.block .content .views-row,
  #content-middle-one div.block .content .views-row, 
  #content-middle-two div.block .content .views-row {
    overflow: hidden;
    width: 100%; }
#right-middle div.item-list ul, 
#content-middle-one div.item-list ul, 
#content-middle-two div.item-list ul {
  margin: 0;
  padding: 0; }

#right-middle div.item-list ul a, 
#content-middle-one div.item-list ul a, 
#content-middle-two div.item-list ul a {
  text-decoration: none; }

#right-middle div.item-list ul a:hover,
#content-middle-one div.item-list ul a:hover, 
#content-middle-two div.item-list ul a:hover {
  background-color: #F6F6F6; }

#right-middle div.item-list ul li, 
#content-middle-one div.item-list ul li, 
#content-middle-two div.item-list ul li {
  list-style-image: none;
  list-style-type: none; }

#right-middle div.item-list ul li a, 
#right-middle div.item-list ul li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 10px; }

#content-middle-one div.item-list ul li a, 
#content-middle-one div.item-list ul li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 10px; }

#content-middle-two div.item-list ul li a, 
#content-middle-two div.item-list ul li.leaf a {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 5px 0 5px 10px; }

#content-middle-two .view-display-id-block_3 div.item-list ul li.views-row-first a {
  border-top: 1px solid #EEE;
}

#block-views-perusahaan-block_1, 
#block-views-belanja-block_1 {
  position: relative; }

h3.block-title {
  border-top: 5px solid #CCC;
  border-bottom: 1px solid #EEE;
  padding: 20px;
  margin: 0; }

#content-bottom h3.block-title {
  background-color: #111;
  border: 0;
  color: #FFFFFF;
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 1;
  padding: 10px;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  top: 0; }

#block-views-issue-block_1 .block-title,
#block-views-issue2-block_1 .block-title {
  border-bottom: none;
}

#content-middle-one div.views-row,
#content-middle-two div.views-row {
  margin: 0;
  border-bottom: 1px solid #EEE; }

#content-middle-one div.views-row-last,
#content-middle-two div.views-row-last {
  border-bottom: 0; }

#content-middle-one div.views-row div.row-thumb img,
#content-middle-two div.views-row div.row-thumb img {
  margin-right: 10px; }

#content-middle-one div.views-row div.row-container,
#content-middle-two div.views-row div.row-container {
  padding: 20px 0 0;
  float: left; }

#content-middle-one div.views-row div.row-textgroup,
#content-middle-two div.views-row div.row-textgroup {
  float: left;
  width: 180px; }
 
#embedded-views div.views-row {
  overflow:hidden; }  
#embedded-views .row-textgroup {
  float: left;
  width: 440px; }
#embedded-views h3 {
  border-top: 5px solid #CCC;
  border-bottom: 1px solid #EEE;
  margin: 0 0 20px;
  padding: 10px 0; }

div.view-id-issue h3,
div.view-id-issue2 h3 {
  margin: 0;
  padding: 10px 0;
  color: #C00;
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.5em;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE; }
  div.view-id-issue h3 p,
  div.view-id-issue2 h3 p {
    padding: 0;
    margin: 0; }

h4.row-title {
  margin-bottom: 5px; }

#content-bottom .row-container {
  padding: 0; }

.row-galeri-info {
  background-color: #111;
  padding: 0;
  color: #FFF;
  float: left;
  width: 100%; }

.page-karikatur .row-container,
.page-galeri .row-container {
  position: relative;
}

.page-karikatur .row-term,
.page-galeri .row-term {
  padding: 5px;
  position: absolute;
  opacity: .8;
  top: 10px;
  right: 10px;
  background-color: #000; }

  .page-karikatur .row-term ul,  
  .page-galeri .row-term ul {
    margin: 0;
  }
    .page-karikatur .row-term ul li,
    .page-galeri .row-term ul li{
    display: inline;
    list-style-type: none;
  }
  .page-karikatur .row-term a,
  .page-galeri .row-term a {
    color: #FFF;
    opacity: 1;
  }

.page-galeri .row-galeri-info, 
.page-karikatur .row-galeri-info {
  background-color: transparent; }

.row-galeri-info p {
  text-align: left;
  margin: 10px; }

.row-galeri-info div.row-title {
  text-align: left;
  min-height: 80px;
  margin: 0 10px; }

.row-info {
  text-transform: uppercase; }

p.row-info {
  margin: 0 0 5px 0; }


.row-thumb {
  margin: 0;
  padding: 0;
  float: left; }

div.view-agenda .row-thumb, 
div.view-perusahaan .row-thumb {
  width: 130px;
  margin-right: 20px; }

.row-comment-count {
  color: #C00;
  background: transparent url(../images/bg_comment_cloud.png) no-repeat scroll 50% 10%;
  font-size: .8em;
  font-weight: bold;
  padding: 5px 20px 10px; }

.row-galeri-info .row-comment-count {
  float:right;
  padding: 3px 20px 10px; }

.row-rating {
  float: left;
  padding: 10px 0;
  margin-left: 10px; }

div.row-image img {
  margin: 0;
  padding: 10px;
  border: 0;
  background-color: #111; }

.page-galeri div.row-image img, 
.page-karikatur div.row-image img {
  background-color: transparent; }

div.view-jualan div.views-row div.row-date,
div.view-lowongan div.views-row div.row-date {
  text-align: center;
  margin: -21px -20px 0 0;
  padding: 5px;
  background-color: #CCC;
  color: #333;
  float: right;
  width: 150px; }
div.view-lowongan .row-company {
  font-weight: bold; }
div.view-lowongan div.views-row {
  padding: 20px;
  margin-bottom: 0;
  border-bottom: none;
  border-top: 1px solid #CCC; }
div.view-lowongan div.views-row-last {
  border-bottom: 1px solid #CCC; }
div.view-lowongan div.views-row p {
  margin: 0; }
div.view-lowongan div.views-row h3 {
  margin-bottom: .2em; }
div.view-lowongan div.views-row-odd {
  background-color: #F6F6F6; }
div.view-lowongan div.views-row:hover {
  background-color: #EEE; }

#right div.view-lowongan div.views-row {
  border-bottom: 1px solid #EEE;
  border-top: none;
  padding-left: 10px }
#right div.view-lowongan div.views-row-odd {
  background: none; }
#right div.view-lowongan div.views-row:hover {
  background: none; }

.views-exposed-form {
  margin: 0;
  padding: 0; }

.views-exposed-widgets {
  margin: 0;
  padding: 0; }

.views-exposed-widget input {
  width: 130px; }

div.view-empty {
  background-color: #F6F6F6;
  padding: 20px;
  font-weight: bold; }
div.view-header {
  background-color: #F6F6F6;
  padding: 20px; }
  div.view-header p {
    margin: 0;
    padding: 0; }
  div.view-header span.header-judul {
    color: #CC0000; }
  div.view-header span.header-perusahaan {
    font-weight: bold; }
  div.view-header span.header-poststatus {
    background-color: #CCC;
    padding: 2px; }
div.views-row h3 {
  margin-bottom: .2em; }

.view-galeri div.view-content div.views-field-field-main-image-fid img {
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  padding: 9px; }

.view-galeri div.view-content div.views-field-field-main-image-fid a:hover img {
  background-color: #CCC; }

.view-galeri div.view-content div.views-row {
  border: none;
  background-color: #F6F6F6;
  display: inline-block;
  float: left;
  margin: 0 0 20px 20px;
  min-height: 200px;
  position: relative;
  vertical-align: baseline;
  width: 130px; }

.view-galeri div.view-content div.views-row:hover {
  background-color: #EEE;}

.view-galeri div.view-content div.views-row div.views-field-name {
  background-color: #000000;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  right: 0;
  font-size: .8em;
  top: 0; }

.view-galeri div.attachment div.view-content div.views-row div.views-field-name {
  background-color: #000000;
  opacity: 1;
  font-size: 1em; }

.view-galeri div.view-content div.views-row div.views-field-name a {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase; }

.view-galeri div.attachment div.view-content div.views-row {
  display: inline-block;
  float: left;
  margin: 0 0 20px 20px;
  min-height: 200px;
  position: relative;
  vertical-align: baseline;
  width: 580px; }

.page-frontpage .view-galeri div.view-content div.views-row {
  margin: 0;
  padding: 0;
  position: static;
  width: auto; }

#hori-adv-one, 
#hori-adv-two, 
#hori-adv-three {
  margin: 0;
  width: 980px; }

#hori-adv-one div.block, 
#hori-adv-two div.block, 
#hori-adv-three div.block, 
#content-bottom {
  background-image: none;
  background-color: #1D1D1D;
  border-bottom: 1px solid #111;
  border-top: 1px solid #333333;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center; }
  #content-bottom div.block {
    position:relative;
  }

div#container div.no-bottom-margin div.block {
  margin-bottom: 0; }

#content-middle-one {
  margin-left: 20px; }

#section {
  background-color: #1D1D1D;
  color: #FFF;
  width: 980px; }
  #section h2 {
    color: #FFF;
    margin: 40px 20px 40px 20px;
    text-transform: uppercase; }

#search-box {
  padding: 20px 0 0 0; }

#search {
  background-color: #FFF;
  border: 1px solid #CCC; }
  #search input.form-text {
    border: 0px;
    vertical-align: middle;
    width: 260px; }
  #search input.form-submit {
    background: transparent url(../images/magnifier_left.png) no-repeat scroll 50% 50%;
    border: 0px;
    color: #FFF;
    cursor: pointer;
    padding: 4px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 30px; }

.floatleft {
  float: left; }

.floatright {
  float: right; }


div.node {
  /*
background-color: #FFF;
*/
  border: 0;
  margin: 0;
  padding: 0; }

div.node .terms {
  float: right;
  text-transform: uppercase;
}

div.node .terms .links li {
  padding: 0 0 0 10px;
}

div.views-row-last div.node {
  margin-bottom: 0; }


#content-bottom {
  background-color: #1D1D1D;
  margin-bottom: 0;
  padding: 20px 0 0 20px; }

div.node .categories ul {
  text-align: left;
  text-transform: uppercase;
  margin: 0; }
  div.node .categories ul li a {
    letter-spacing: .5em;
    color: #C00; }

p.node-submit-info {
  color: #C00; 
  padding: 0 0 5px;
  border-bottom: 1px solid #EEE; }

div.terms {
  text-transform: uppercase; }
div.meta {
  border-bottom: 0px solid #CCC; }
div.comment {
  border-top: 1px solid #EEE;
  margin: 0;
  padding: 20px 0; }
div.comment-content {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  width: 465px; }
  div.comment-content ul.links {
    border-top: 1px solid #EEE;
    padding: 10px 0; }
div.preview div.comment-content {
  width: 415px; }
div.comment.odd {
  background-color: #FFF; }
div.comment.author {
  background-color: #FFF; }
  div.comment.author img {
    background-color: #333;
    border: 1px solid #333;
    padding: 4px; }
div.comment-picture {
  border: 0;
  float: left;
  padding: 0; }
  div.comment-picture img {
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    padding: 4px; }
div.comment span.new {
  background-color: #CC0000;
  color: #FFF;
  display: block;
  padding: 4px;
  position: absolute;
  right: -33px;
  top: -5px; }

#comment-form, 
#filter-admin-format-form {
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 20px; }

div.box {
  background: none;
  border-top: 5px solid #CCC;
  border-bottom: 1px solid #EEE;
  margin-bottom: 0;
  padding: 20px 0; }
  div.box h3 {
    margin-bottom: 0; }

h3#comment-number {
  border: none;
  margin: 0px;
  padding: 20px 0; }

ul.links li {
  padding: 0 10px 0 0; }
ul.jquerymenu li span.parent {
  height: 10px;
  margin-left: -5px;
  margin-top: 8px;
  width: 10px; }
ul.jquerymenu li.parent span.closed {
  background-image: url(../images/29.png); }
ul.jquerymenu li.parent span.open {
  background-image: url(../images/30.png); }
ul.custom-pager li {
  margin: 10px 0; }
ul.pager li.pager-current {
  background-color: #111; }
ul.pager a {
  border: 0; }
  ul.pager a:link, 
  ul.pager a:visited {
    color: #111;
    background-color: #FFF; }
ul.pager li.pager-current {
  border: 0; }
ul.pager a:hover, 
ul.pager a:focus, 
ul.pager a:active {
  border: 0;
  background-color: #111;
  color: #FFF; }
div.more-link {
  padding: 20px 0 0;
}
div.more-link a {
  padding: 3px 10px;
  background-color: #EEEEEE;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-style: italic; }

/*
=FOOTER
*/

#footer {
  background-color: #1D1D1D;
  width: 980px;
  border-top: 1px solid #333; }
  #footer div.block {
    background-image: none;
    margin-bottom: 20px;}
  #footer ul.menu {
    margin: 0;
    padding: 20px; }
    #footer ul.menu li {
      float: left;
      list-style: none; }
      #footer ul.menu li a {
        font-size: 1em;
        line-height: 1.875em; }
      #footer ul.menu li.first a {
        padding-left: 0; }
      #footer ul.menu li.last a {
        border-right: 0; }
    #footer ul.menu a {
      color: #CCC;
      border-right: 1px solid #CCC;
      display: block;
      padding: 0 10px; }
      #footer ul.menu a:link, 
      #footer ul.menu a:visited {
        text-decoration: none; }
      #footer ul.menu a:hover {
        text-decoration: underline; }
  #footer .copyright {
    padding: 20px 20px 0;
    color: #CCC;
  }
      
